*, *::before, *::after {

    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
    background-image: url(Images/JollytheSheep.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding: 0;
    margin: 0;
    display:flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.container {
    width: 800px;
    max-width: 80%;
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;


}

.btn-grid {
    display: grid;
    grid-template-columns:repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

}

.btn {

    background-color:blueviolet;
    border: 1px solid darkmagenta;
    border-radius: 5px;
    padding: 5px 10px;
    color: whitesmoke;
    outline: none;


}

.btn:hover:not([disable]){
    border-color: darkcyan;
}
.btn:disabled {
    cursor: no-drop;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;

}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;

}
.hide {
    display: none;
}
