*, *::before, *::after {

    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
    background-image: url(/Coding-Assessment/Images/JollytheSheep.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding: 0;
    margin: 0;
    display:flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.container {
    width: 800px;
    max-width: 80%;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px black;


}